<div class="col-md-8 card">
  <h5 class="card-header">{{dataValues.user_id}}</h5>
  <div class="card-body">
    <p class="card-text">{{dataValues.take}}</p>
    <a href="#" class="btn btn-primary">Rate Take</a>
  </div>
</div>