{{!-- {{#each  as ||}}
{{> -details}}
{{/each}} --}}
<h1>homepage</h1>

<body>
    <div class="content row d-flex justify-content-center">
        <div class="recentFilms col">films</div>
{{!-- Is writeReview still needed with how current search bar is done? --}}
        <div class="writeReview col-md-4" ></div>
        <div class="userReviews col-md-6">other users' reviews here</div>
        <div class="pastReviews col-md-1">your past reviews here</div>
    </div>


</body>