<body>
  <div class="row text-center justify-content-center">
  <h3 class="col-md-12 description">A movie website for the hot takes of real movie goers, by real movie goers!</h3>
  </div>
  {{! Film Carousel }}
  {{!-- need to fix this container class for sizing the carousel --}}
  <div class="container">
    <div class="carousel">
      {{#each movieInfo as |movie|}}
        <div class="carousel__face">
          <a href="/api/movie?imdbID={{movie.imdbID}}">
            <img src="{{movie.poster}}" alt="{{movie.title}}" />
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</body>


