:root {
  --accent: #335c67;
  --lightest: #fff3b0;
  --light: #e09f3e;
  --dark: #9e2a2b;
  --darkest: #540b0e;
}
body {
  background-color: var(--dark);
}
/* Home/main page styles */
#main-head {
  font-family: "Bungee Spice", cursive;
}

.movie-search-bar {
  background-color: var(--lightest);
}

.take-me-btn {
  background-color: var(--dark);
  font: var(--lightest);
}

#logout {
  background-color: var(--accent);
  font: var(--light);
}

ul {
  list-style-type: none;
}

/* Movie Page Styling */
#title {
  font: var(--lightest);
  font-size: 40px;
  font-weight: bolder;
}

.movie-info {
  font: var(--lightest);
}

/* Carosel styling */
.container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: 80%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

.carousel__face:nth-child(1) {
  height: 70%;
  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
  transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
  transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}


.btn {
  font-family: 'Pacifico', cursive;
  background-color: #540b0e;
  color: #fff;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #e09f3e;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
